<h5>Please enter your bet for this round.</h5>

<form action="/initial_deal" method="post">
<input type="number" placeholder="$20 per hand minimum." name="player_bet">
<br>
<input type="submit" class="btn" value="Submit">
</form>