<h5>Please enter the mount of money you wish to convert to chips.</h5>

<form action="/bet" method="post">
<input type="number" placeholder="Your Starting Money" name="player_money">
<br>
<input type="submit" class="btn" value="Submit">
</form>